{{- $title := .Title -}}
{{- $siteTitle := .Site.Title -}}

{{- $titleSlice := slice -}}

{{- $isPaginated := or .IsHome (eq .Kind "section") (eq .Kind "taxonomy") (eq .Kind "term") -}}
{{- if $isPaginated -}}
    {{- $paginator := .Paginator -}}
    {{- if and $paginator $paginator.HasPrev -}}
        <!-- Add page number -->
        {{ $titleSlice = $titleSlice | append (printf "Page %d" $paginator.PageNumber) }}
    {{- end -}}
{{- end -}}

{{- $titleSlice = $titleSlice | append (default $siteTitle $title) -}}

{{ return delimit $titleSlice " - " }}
